* {
    padding: 0;
    margin: 0;
}

.white-svg {
    display: flex;
    justify-content: center;
    margin-left: 15px;
    filter: invert(1);
    padding: 5px;
    width: 35px;
}

.dark-svg {
    display: flex;
    justify-content: center;
    margin-left: 15px;
    filter: invert(1) sepia(1) saturate(0) hue-rotate(0deg) brightness(0.7);
    padding: 5px;
    width: 35px;
}