@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0A0B10;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
}

#logo-font {
  font-family: "Lexend Deca", sans-serif;
}

#heroContent1 {
  font-family: "Inter", sans-serif;
  font-weight: normal;
}